################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/chess
/.vs
/chess/x64/Debug
/x64/Debug
